<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Form Validation using jqBootstrapValidation using Python Flask Jquery Ajax and PostgreSQL</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqBootstrapValidation/1.3.6/jqBootstrapValidation.js"></script>
  <style>
    .controls p{
     color:#a94442;
    }
  </style>
</head>
<body>
  <div class="container">
    <h3 align="center">Sign Up Form Validation using jqBootstrapValidation using Python Flask Jquery Ajax and PostgreSQL</h3>
    <br />
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-6">
        <form class="form-horizontal" method="post" id="simple_form" novalidate="novalidate">
          <fieldset>
            <div id="legend">
              <legend class="">Register</legend>
            </div>
            <div class="control-group">
              <label class="control-label" for="fullname">Name</label>
              <div class="controls">
                <input type="text" id="fullname" name="fullname" class="form-control form-control-lg" placeholder="Name" required="required" data-validation-required-message="Please enter your Name">
                <p class="text-danger help-block"></p>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label"  for="username">Username</label>
              <div class="controls">
                <input type="text" id="username" name="username" class="form-control form-control-lg" placeholder="Name" required="required" data-validation-required-message="Please enter your Username">
                <p class="text-danger help-block"></p>
              </div>
            </div>
           
            <div class="control-group">
              <label class="control-label" for="email">E-mail</label>
              <div class="controls">
                <input type="email" id="email" name="email" class="form-control form-control-lg" placeholder="Email" required="required" data-validation-required-message="Please provide your E-mail">
                <p class="text-danger help-block"></p>
              </div>
            </div>
           
            <div class="control-group">
              <label class="control-label" for="password">Password</label>
              <div class="controls">
                <input type="password" id="password" name="password" class="form-control form-control-lg" placeholder="Password" required="required" data-validation-required-message="Please provide your password">
                <p class="text-danger help-block"></p>
              </div>
            </div>
           
            <div class="control-group">
              <label class="control-label"  for="password_confirm">Password (Confirm)</label>
              <div class="controls">
                <input type="password" id="password_confirm" class="form-control form-control-lg" name="password_confirm" placeholder="Password (Confirm)" required="required" data-validation-required-message="Please confirm password">
                <p class="text-danger help-block"></p>
              </div>
            </div>
           
            <div class="control-group">
                <div id="success"></div>
              <div class="controls">
                <button class="btn btn-success" type="submit" class="form-control form-control-lg" class="btn btn-primary" id="send_button">Register</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</body>
<script>
  $(document).ready(function(){
    $('#simple_form input').jqBootstrapValidation({
      preventSubmit: true,
      submitSuccess: function($form, event){
        event.preventDefault();
        $this = $('#send_button')
        $this.prop('disabled', true);
        var form_data = $("#simple_form").serialize();
        $.ajax({
          url:"/insert",
          method:"post",
          data: form_data,
          success: function(){
            $('#success').html("<div class='alert alert-success'><strong>Successfully Register.</strong></div>");
            $('#simple_form').trigger('reset');
          },
          error:function(){
            $('#success').html("<div class='alert alert-danger'><strong>There is some error</strong></div>");
            $('#simple_form').trigger('reset');
          },
          complete:function(){
            setTimeout(function(){
              $this.prop("disabled", false);
              $('#success').html('');
            },5000);
          }
        });
      },
    });
  });
</script>
</html>